.flex-item {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.base {
    margin-bottom: 15px;
    background-color: #d0d3d4;
    border-radius: 4px;
}

.box1 {
    background-color: #63b1bc;
}

.box2 {
    background-color: #1f2a44;
}

.box3 {
    background-color: #ed145b;
}

.box4 {
    background-color: #efb661;
}

h1 {
    width: fit-content;
    margin: auto;
}

/* Insira o código abaixo */

.container1 {
    display: flex;
}

.container2 {
    display: flex;
    justify-content: right;
}

.container3 {
   display: flex;
   justify-content: center;
}

.container4 {
    display: flex;
    justify-content: space-between;
}
.container5 {
    display: flex;
    padding: 0px 140px;
    justify-content: space-between;
}
.container6 {
    display: flex;
    padding: 0px 230px;
    justify-content: space-between;
}
.containerExercicioB {
    display: flex;
    flex-direction: column;
}
.containerExercicioB .box1 {
    order: 4;
}
.containerExercicioB .box2 {
    order: 3;
}
.containerExercicioB .box3 {
    order: 2;
}
.containerExercicioB .box4 {
    order: 1;
}
.containerExercicioC {
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.containerExercicioC .box1 {
    order: 4;
}
.containerExercicioC .box2 {
    order: 3;
}
.containerExercicioC .box3 {
    order: 2;
}
.containerExercicioC .box4 {
    order: 1;
}